.backHome {
    width: 100vw;
    max-width: 100%;
    background: linear-gradient(0deg, #6D8293, #085F7A);
    overflow-x: hidden; /* Evitar desbordamiento horizontal */
    display: flex;
    flex-direction: column;
    align-items: center;

}
.spaceHome{
    min-height: 92vh;
    display: flex;
    align-items: center;
    
}
.aroundVideoHome{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5));
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 3rem;
    box-shadow: rgba(255,255,255, 0.09) 5px 5px, rgba(255,255,255, 0.07) 10px 10px, rgba(255,255,255, 0.05) 15px 15px, rgba(255,255,255, 0.03) 20px 20px, rgba(255,255,255, 0.01) 25px 25px;
}   

video{
    width: 80vw;
    height: 55vh;
    object-fit: cover;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
@media(min-width: 343px){
    video{
        width: 75vw;
        height: 38vh;
    }
}
@media(min-width: 374px){
    video{
        width: 67vw;
        height: 38vh;
    }
}
@media(min-width: 429px){
    video{
        width: 80vw;
        height: 50vh;
    }
}
@media(min-width: 539px){
    video{
        width: 60vw;
        height: 50vh;
    }
}
@media(min-width: 1024px){

    video{
        width: 38vw;
        height: 73vh;
    }

}
@media(min-width: 1280px){
    .backHome{
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    video{
        width: 36vw;
        height: 63vh;
    }
    .aroundVideoHome{
        padding: 2.5rem;
    }
    .spaceHome{
        height: 90vh;
    
    }
}
@media(min-width: 1360px){
    video{
        width: 31vw;
        height: 63vh;
    }
    .aroundVideoHome{
        padding: 2.5rem;
    }
}